/* Blurry Background Image */
body {
    margin: 0;
    padding: 0;
    
    background-size: cover;
    height: 100vh;
    
    position: relative;
    z-index: -1;
}

/* Main Container Style */
.container {
    position: relative;
    z-index: 1;
    background: rgba(58, 54, 54, 0.8);
    border-radius: 15px;
    padding: 30px;
    max-width: 600px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s ease-in-out;
}

/* Form Styling */
form {
    text-align: center;
    animation: formPulse 5s infinite alternate ease-in-out;
}

form h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ff5e78;
    font-weight: bold;
    animation: fadeIn 2s ease-out;
}

/* Input Fields */
input[type="text"], 
input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    border: 2px solid #ff5e78;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
    border-color: #ff005e;
    box-shadow: 0 0 12px rgba(255, 0, 94, 0.6);
}

/* Submit Button */
input[type="submit"] {
    background-color: #ff005e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #d9004c;
    transform: scale(1.1);
}

/* Key